body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.grille{
 display: grid;
    grid-template-areas: 
        "logo logo logo"
        "main   main passif"
        "main   main passif"
        "bouton empty empty"
        "footer empty empty";
        grid-template-columns: 200px 1fr 250px;
        grid-template-rows: auto 1fre 1fr auto;
        gap: 10px;
        min-height: 100hv;
        padding: 10px;        
}

.logo{
    grid-area: logo;
    text-align: center;
}

.apropos{
    grid-area: main;
    background: white;
    padding: 10px;
}

.passif{
    grid-area: passif;
    background: #c3b9ea;
    padding: 15px;
}

.travaux {
    background: #b9e0ea;
    grid-area: bouton;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
}

.github {
    background: #98d3a5;
    grid-area: footer;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
}